<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Spring file upload</title>
        <meta charset="utf-8" />
    </head>
    <body>
        <div th:if="${message}">
            <h2 th:text="${message}">default error message</h2>
        </div>
        
        <div>
            <form action="/" method="post" enctype="multipart/form-data">
                <div>
                    <label>File to upload:</label>
                    <input type="file" name="file" />
                </div>
                <div>
                    <label>Name:</label>
                    <input type="text" name="name" />
                </div>
                <div>
                    <input type="submit" value="Upload" />
                </div>
            </form>
        </div>
        
        <div th:if="${files}">
            <ul th:each="file : ${files}" >
                <li><a href="#" th:text="${file}" th:href="@{'/download/' + ${fileStat.count - 1}}">file list</a></li>
            </ul>
        </div>
    </body>
</html>